@import "src/styles/constants";

.header-component {
  display: flex;
  padding: 25px;
  border-bottom: 1px solid #E2E2EA;
  width: 100%;
  justify-content: space-between;
  align-items: center;


  &__user-notification {
    display: flex;
    align-items: center;

    .user {
      cursor: pointer;
      display: flex;
      align-items: center;

      &__avatar-wrapper {
        display: flex;
        align-items: center;

        &:after {
          content: '';
          background: url("../../assets/icons/icon-caret-down.svg") no-repeat center center;
          width: 10px;
          height: 10px;

          margin-left: 10px;

        }

        &__dropdown-elements {
          display: flex;
          align-items: center;
        }
      }

      &__user-data {
        margin-left: 10px !important;
        list-style: none;
        line-height: 14px;
        text-align: left;

        &__username {
          font-weight: bold;
          color: var(--main-text-color);
        }

        &__user-role {
          font-size: 12px;
          color: #92929D;
        }
      }
    }

    .notification {
      cursor: pointer;
      margin-right: 27px;
    }
  }

  &__nav-links {
    width: 325px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: var(--main-text-color);
      font-weight: bold;
      font-size: 16px;
      letter-spacing: .2px;
      position: relative;
    }

    a:nth-child(2) {
      margin: 0 52px;
    }

    .active-link {
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 5px 5px 0 0px;
        background-color: var(--main-active-color);
        position: absolute;
        bottom: 0;
      }
    }
  }

}
